html {	height:100%;}
body {
	margin:0;
	padding:0;
	height:100%;
	color:#fff;
	background:#333;
}
a {
	color:#fff;
	text-decoration:none;
}
.title {
	text-align:center;
	font-size: x-large;
}
#wrapper {
	margin:0 auto;
	position:relative;
	max-width:960px;
	height:100%;
}
#chart-container {
	width:100%;
	height:61.8%;
}
#chart-container svg {
	display:block;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
}
#chart-container svg .axis {	font-size:12px;}
#chart-container svg .axis path,
#chart-container svg .axis line {
	fill:none;
	stroke:rgba(255, 255, 255, 0.05);
	shape-rendering:crispEdges;
}
#chart-container svg .axis text {	fill:#fff;}
#chart-container svg .bars text {
	fill:#222;
	stroke:none;
	font-size:30px;
	letter-spacing:-1px;
}

#console .row {
	margin:20px -10px;
	padding:0 20px 0 50px;
}
#console .row:after {
	display:block;
	clear:both;
	content:"";
}
#console .row p {
	padding:0 0.4%;
	float:left;
	width:25%;
	text-align:center;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
#console .row p a {
	padding:3px 10px;
	border-radius:4px;
	display:inline-block;
	color:#fff;
	background:#4285F4;
}
#console .vote {
	padding:0 5.5%;
}
#console .vote:after {
	display:block;
	clear:both;
	content:"";
}
#console .btn {
	text-align:center;
}
#console .btn a {
	margin:0 10px;
	padding:3px 10px;
	border-radius:4px;
	display:inline-block;
	color:#fff;
	background:#ECA634;
}

#console .reload a {
	margin:0 10px;
	padding:3px 10px;
	border-radius:4px;
	display:inline-block;
	color:#fff;
	background:#009933;
}